[Unit]
Description=Check if Fish Proxy is available on I2C bus
Requires=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/check_i2c_device.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
