[Unit]
Description=Riddle Client - connects to Riddle Processor to give funny (I hope) riddles!
After=network-online.target
Wants=network-online.target
Requires=i2c-check.service

[Service]
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=%PYTHON_PATH% -m RiddleClient.fish
WorkingDirectory=%PROJECT_ROOT_PATH%
Environment="PATH=%VENV_PATH%/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="VIRTUAL_ENV=%VENV_PATH%"
TimeoutStopSec=10
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=default.target
